# folder #
node_modules/
public/bundle.js
public/*bundle*
coverage/
flow-typed/npm/


# system files #
.DS_Store
.DS_Store?
*.bundle.js

# config files #
.eslintrc.json
.eslintignore
.editorconfig
.babelrc
webpack.config.js
yarn.lock
